.about_banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 30%, rgb(0, 0, 0, 0.63)), url('../images/about_banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}